@inherits LayoutComponentBase

<div class="page">
    <header>
        @("T I P P S E R")
    </header>
    <main role="main">
        <Culture></Culture>
        @Body
    </main>
    <footer>
        <NavMenu/>
    </footer>
</div>
