@page "/account/resetpasswordconfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<h1>Reset password confirmation</h1>
<p>
    Your password has been reset. Please <a href="@signinEndpoint">click here to log in</a>.
</p>

@code{
    private string signinEndpoint = Core.Enums.Endpoint.Convert(Core.Enums.Endpoint.ApiEndpoint.Account_SignIn);
}
